*{padding: 0;margin: 0;box-sizing: border-box;}
body{height: 100vh;width: 100%;}
.flex{display: flex;}
#box{
    position: relative;
    top: 100px;
    height: 804px;
    width: 704px;
    background-color: #333;
    border: 2px solid rgb(255, 153, 0);
    margin-left: auto;
    margin-right: auto;
}
#body0{
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #fff;
    top: 0px;
    left: 0px;
}
#body0:before{
     content:'';
     position: absolute;
     height: 100%;
     width: 100%;
     top: 0px;
     left: 0px;
     background-color: transparent;
     border: 3px solid #000;
     border-radius: 50%;
     }
#food{
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: rgb(248, 66, 66);
    top: 100px;
    left: 100px;
}
.body{
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid black;
}
p{
    position: absolute;
    top: 50px;
    transform: translate(-50%,-50%);
    left: 50%;
    font-size: 30px;
}
span{
    background-color: rgb(255, 1, 1);
    color: white;
    padding: 0px 5px;
    font-weight: bold;
}
